/* Big tablets to 1200px (widths smaller than 1140px row) */
@media only screen and (max-width: 1500px) {
    h2 {
        margin-top: 5%;
        text-align: center;
        padding: 0 25%;
        font-weight: 300;
        font-size: 150%;
    }

        .slideshow {
        width: 100%;
        padding: 0 2%;
    }

    footer {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 1200px) {
    .slideshow {
        width: 100%;
        padding: 0 2%;
    }

    footer {
        margin-top: 5%;
    }
}


/* Small to big tablets: 768-1023px */
@media only screen and (max-width: 1023px) {
    .slideshow {
        width: 100%;
        padding: 0 2%;
    }

    section {
        padding: 0 1%;
    }

    footer {
    margin-top: 5%;
    }
}

@media only screen and (max-width: 800px) {
    .slideshow {
        width: 100%;
        padding: 0 2%;
    }

    body { font-size: 80%; }

    section {
        padding: 0 1%;
    }
    
    footer {
        margin-top: 5%;
    }
}

/* Small phones to small tablets: 481-767px */
@media only screen and (max-width: 768px) {
.top-nav {
    display: inline-block;
    font-size: 120%;
    text-align: center;
    margin-left: 25px;
}

.top-nav li a:link,
.top-nav li a:visited{
    display: inline-block;
    border: 0;
    padding: 5px 0;
}

.main-nav {
    float: left;
    padding-left: 25%;
}

.main-nav li {
    display: none;
    display: block;
}

.main-nav li a:link,
.main-nav li a:visited {
    display: block;
    border: 0;
}

.sticky .main-nav { 
    display: none;
    text-align: left;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    display: block;
    padding: 5px 0;
}

.sticky .mobile-nav-icon {
    display: inline-block;
    margin-top: 1%;
    padding-right: 7%;
}

.sticky .sticky-logo { 
    height: 40px;
    margin-top: 1%;
}

footer {
    margin-top: 5%;
}


/* Small phones: 0-480px */
@media only screen and (max-width: 480px) {
header { 
    margin-top: 8px;
    font-size: 90%; 
}

.top-nav {
    display: inline-block;
    font-size: 80%;
    text-align: center;
    margin: 0 5px;
}

.top-nav li a:link,
.top-nav li a:visited{
    display: inline-block;
    border: 0;
    padding: 2px 0;
}

.main-nav {
    float: left;
    padding-left: 10%;
}

.sticky .mobile-nav-icon {
    display: inline-block;
    margin-top: 1%;
    padding-right: 7%;
}

footer {
    margin-top: 5%;
}
}}